$color-primary: rgba(0, 0, 0, .6);
$transition-speed-default: 200ms;
$border-color: $color-primary; // rgba(0, 0, 0, .6);
$nav-bg-color: rgb(243, 243, 243);
$nav-bg-color-active: $color-primary; // rgba(0, 0, 0, .6);
$nav-color-active: white;
